body{
  background-color: rgba(128, 0, 128, 0.205);
}

.button {
  height: 100%;
  width: 100%;
  text-align: center;
  border: none;
  box-shadow: 1px 1px 6px black;
  border-radius: 15px;
  font-size: 26px;
  background-color: white;
  cursor: pointer;
}

.button-numero {
  background-color: rgb(97, 17, 80);
  color: white;
}

.button-numero:hover {
  background-color: rgba(61, 8, 50, 0.719);
  color: white;
}

.button-operacao {
  background-color: rgb(199, 37, 164);
  color: white;
}

.button-operacao:hover {
  background-color: rgba(199, 37, 164, 0.623);
  color: white;
}

.span-two {
  grid-row: 5;
  grid-column: 3 / 5;
}